<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.misena.oscar.appbienestar">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Home"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Login" />
        <activity android:name=".Informacion" />
        <activity android:name=".Mision" />
        <activity android:name=".DirigidoA" />
        <activity android:name=".Lugar" />
        <activity android:name=".Vision" />
        <activity android:name=".Integrantes" />
        <activity android:name=".Administrador" />
        <activity android:name=".Himno" />
        <activity android:name=".Reglamento" />
        <activity android:name=".Ayuda" />
        <activity android:name=".Subir"></activity>
    </application>

</manifest>